#####################################
##                                 ##
## THIS FILE IS MANAGED BY ANSIBLE ##
##                                 ##
#####################################

driftfile {{ ntp_driftfile }}

{%- for restrict_ip in ntp_restrict -%}
restrict {{ restrict_ip }}
{%- endfor -%}

{%- for pool_server in ntp_servers -%}
server {{ pool_server }}
{%- endfor -%}

{%- if ntp_statistics -%}
statistics clockstats cryptostats loopstats peerstats
{%- endif -%}
